        p{
            font-size: 24px;
            background-color: green;
        }

        .conteiner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: rgb(184, 184, 184);
        }

        .conteiner>img {
            width: 300px;

        }