html {
    font-size 30px;
}

p {
    font-size: 2em;
}

div {
    width: 300px;
    height: 300px;
    margin: 4em;
    font-size: 0.5rem;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#yellow {
    background-color: gold;
}

#grey {
    background-color: rgb(102, 102, 104) ;
}